/* card */

.card {
  position: relative;
}

.card--unavailable::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(50% - 16px);
  left: 50%;
  width: 100px;
  height: 100px;
  background-image: url("../img/unavailable.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

// layout

.card__layout {
  position: relative;
  display: flex;
  min-height: 350px;
  color: $artcraft-color-white;
  background-color: $artcraft-color-black;
}

// preview

.card__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// inner

.card__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(
    rgba($artcraft-color-black, 0.8) 10%,
    transparent,
    rgba($artcraft-color-black, 0.8) 90%
  );
}

.card--unavailable .card__inner {
  background-color: rgba($artcraft-color-red, 0.5);
}

// header

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

.card--large .card__header {
  @include media-min($sm) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

// title

.card__title {
  position: relative;
  font-size: 16px;
  line-height: (24 / 18);

  @include media-min($lg) {
    font-size: 18px;
  }

  @include media-min($xl) {
    font-size: 20px;
  }
}

.card__title--has-counter {
  padding-left: 30px;
}

// title-counter

.card__title-counter {
  position: absolute;
  left: 0;
}

// thumb-wrapper

.card__thumb-wrapper {
  position: relative;
  display: block;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: opacity $transition-duration linear;
}

.card__thumb-wrapper:hover {
  opacity: 0.8;
}

// thumb

.card__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// body

.card__body {
  padding: 6px 14px 21px;
  font-size: 16px;
  line-height: (16 / 14);

  @include media-min($lg) {
    font-size: 14px;
  }
}

// timer

.card__timer {
  margin: auto 0;
}

// time

.card__time {
  margin-top: 12px;
  color: $artcraft-color-darkgray;
}

// status

.card__status {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
}

.card__status span {
  content: "";
  display: block;
  height: 100%;
  background-color: $artcraft-color-green;
}

.card--unavailable .card__status span {
  background-color: $artcraft-color-red;
}

// footer

.card__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  font-size: 13px;
  letter-spacing: 0.3px;
  text-align: center;

  @include media-min($lg) {
    display: block;
  }

  @include media-min($xl) {
    display: flex;
  }
}

.card__footer *:only-child {
  width: 100%;
  text-align: center;
}

.card--unavailable .card__footer {
  color: $artcraft-color-red;
}

// continue

.card__continue {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  transition: color $transition-duration linear;
}

.card__continue:hover {
  color: $artcraft-color-blue;
}

.card__continue::before {
  content: "";
  position: absolute;
  top: calc(50% - 32px);
  left: 50%;
  width: 100px;
  height: 100px;
  background-image: url("../img/play.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: opacity $transition-duration linear;
}

.card__continue:hover::before {
  opacity: 0.5;
}

.card__continue::after {
  content: " >";
}
