/* content-section */

.content-section {
  padding-top: 35px;

  @include media-min($lg) {
    padding-top: 50px;
  }
}

// header

.content-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

  @include media-min($lg) {
    padding-left: 10px;
    padding-right: 30px;
  }
}

// title

.content-section__title {
  text-transform: uppercase;

  @include media-min($md) {
    font-size: 32px;
  }

  @include media-min($lg) {
    font-size: 54px;
  }

  @include media-min($xl) {
    font-size: 64px;
  }
}

// description

.content-section__description {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 40px;
}

// toggler

.content-section__toggler {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 25v22h3V25h22v-3H25V0h-3v22H0v3h22z' fill='%23000'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-duration linear;

  @include media-min($lg) {
    width: 50px;
    height: 50px;
    background-size: 40px;
  }
}

.content-section__toggler--active {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47 22H0v3h47v-3z' fill='%23000'/%3E%3C/svg%3E");
}

.content-section__toggler:hover {
  background-color: mix($artcraft-color-blue, $artcraft-color-white, 10%);
}

.content-section__toggler:focus {
  outline: none;
}

// body

.content-section__body--hidden {
  display: none;
}

// cards

.content-section__cards {
  margin-bottom: -30px;

  @include media-min($lg) {
    margin-bottom: -50px;
  }
}

// card-wrapper

.content-section__card-wrapper {
  margin-bottom: 30px;

  @include media-min($lg) {
    margin-bottom: 50px;
  }
}
