/* page-header */

.page-header {
  padding: 15px 0;
  background-color: $artcraft-color-lightgray;

  @include media-min($lg) {
    padding: 40px 0;
  }

  @include media-min($xl) {
    padding: 56px 0;
  }
}

// logo-wrapper

.page-header__logo-wrapper {
  display: block;

  @include media-max($sm) {
    margin-bottom: 15px;
  }
}

// logo

.page-header__logo {
  @include media-max($sm) {
    width: 135px;
    height: 40px;
    margin: 0 auto;
  }
}

// navigation

.page-header__navigation {
  @include media-min($sm) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

// user-navigation

.page-header__user-navigation {
  @include media-max($sm) {
    margin-top: 10px;
  }
}
