-
  const footerNavogationList = [
    "Правила использования",
    "Политика конфиденциальности",
    "Лицензионное соглашение",
  ];

footer.page__footer.page-footer
  .container
    ul.page-footer__navigation.footer-navigation
      each item in footerNavogationList
        li.footer-navigation__item
          a.footer-navigation__link(href="/")!= item
      li.footer-navigation__item
        a.footer-navigation__link(href="mailto:tim@artcraft.education") tim@artcraft.education
    p.page-footer__attention Распостранение материалов с&nbsp;ресурса строго запрещено и&nbsp;защищено авторским правом
    p.page-footer__copyright ArtCraft &copy;&nbsp;2016-2020
