doctype html
block page
  html.page(lang="ru")
    head
      block head
        include components/head
    body.page__body
      include components/mixins
      block header
      main.page__main
        block main
      block footer
      include components/sprite
      block scripts
        script(src="js/bundle.min.js")
