/* common */

$transition-duration: 200ms;

/* palette */

$artcraft-color-black: #010101;
$artcraft-color-blue: #3f74f3;
$artcraft-color-darkgray: #8e8e8e;
$artcraft-color-lightgray: #e6e8ed;
$artcraft-color-green: #00ff98;
$artcraft-color-red: #ff2a41;
$artcraft-color-white: #ffffff;

/* bootstrap breakpoints */

$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
